<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
<script>
    let selected_template;
    var templates_config = {{templates_json | safe}}


    function val() {
        selected_template = document.getElementById("select_template").value;
        for (const template of templates_config.templates) {
            if (template.name === selected_template) {
                if (template.type === "cpt") {
                    document.getElementById("div_controller_name").style = ""
                    document.getElementById("div_subtitle").style = "visibility:hidden"
                    return
                } else if (template.type === "event") {
                    document.getElementById("div_controller_name").style = "visibility:hidden"
                    div_subtitle = document.getElementById("div_subtitle").style = ""
                    return
                } else {
                    document.getElementById("div_controller_name").style = "visibility:hidden"
                    document.getElementById("div_subtitle").style = "visibility:hidden"
                    return
                }
            } else {
                document.getElementById("div_controller_name").style = "visibility:hidden"
                document.getElementById("div_subtitle").style = "visibility:hidden"
            }
        }
    }
</script>
<div class="container">
    <h1>Banner Templates</h1>
    <form action="/form" method="POST">
        <select onchange="val()" id="select_template" name="select_template" class="my-3 form-select"
                aria-label="Select Banner Template" required>
            <option selected>Select Banner Template</option>
            {% for template in templates_config.templates %}
            <option value="{{template.name}}">{{template.name}}</option>
            {% endfor %}
        </select>

        <div class="my-3">
            <label for="start_date_time">Start:</label>
            <input type="datetime-local" id="start_date_time" name="start_date_time" required>
            <label for="end_date_time">End:</label>
            <input type="datetime-local" id="end_date_time" name="end_date_time" required>
        </div>
        <div id="div_controller_name" style="visibility:hidden" class="input-group my-3">
            <input type="text" class="form-control" name="controller_name" placeholder="Controller Name"
                   aria-label="Controller Name">
        </div>
        <div id="div_subtitle" style="visibility:hidden" class="input-group my-3">
            <input type="text" class="form-control" name="subtitle" placeholder="Subtitle"
                   aria-label="Subtitle">
        </div>


        <button type="submit" class="btn btn-primary">Generate</button>
    </form>
</div>

<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
        crossorigin="anonymous"></script>
</body>
</html>